@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #CEE5F2;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 1rem;
}

h1 {
    color: #0E1C36;
    margin-bottom: 0.5rem;
}

#profilesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
}

.card.card--chosen {
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15rem;
    background: #0E1C36;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
}

.card--title {
    color: #fff;
    font-weight: 700;
    width: 100%;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

.card--time {
    color: #fff;
    font-size: 2rem;
}

.card--link {
    text-decoration: none;
    background: #6B8F71;
    color: #fff;
    width: 100%;
    padding: 0.3rem 1rem;
}

.add--icon {
    text-decoration: none;
    display: inline-block;
    font-size: 4rem;
    line-height: 4rem;
    color: #0E1C36;
}

.add--icon:hover {
    color: #5f83c2;
}

.add--icon::before {
    content: "+";
}

/* .add--icon {
      display: inline-block;
      width: 4rem;
      height: 4rem;
      background: linear-gradient(#0E1C36, #0E1C36), linear-gradient(#0E1C36, #0E1C36), rgba(0,0,0,0);
      background-position: center;
      background-size: 50% 0.5rem, 0.5rem 50%;
      background-repeat: no-repeat;
  } */